html {
  overflow-y: scroll;
}

body {
  padding-top: 20px;
}

#map-labels {
  margin-top: -10px;
}

#data-table-container {
  padding-top: 20px;
}

.map {
  height: 250px;
}

.bump-down {
  /* i don't even..
  */
  top: 1px;
  position: relative;
}

#route-container {
  top: -3px;
  position: relative;
}

.hattery {
  padding-top: 20px;
}

/* show-grid business from twitter
*/
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
